---
import BlogCard from '../../shared/blog/resource-card.astro'
---
<section class="grid container-main md:gap-12 gap-4 grid-cols-4 sm:grid-cols-8 xl:grid-cols-12 py-24">
    <BlogCard className='col-span-4'/>
    <BlogCard className='col-span-4'/>
    <BlogCard className='col-span-4'/>
    <BlogCard className='col-span-4'/>
    <BlogCard className='col-span-4'/>
    <BlogCard className='col-span-4'/>
</section>