---
import Logo from "../ui/logo.astro";
type Props = {
    dark?:boolean;
}
type NavLink = {
    title:string,
    path:string
}
const navlinks:NavLink[] = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "Resources",
    path: "/resources",
  },
  {
    title: "Pricing",
    path: "/pricing",
  },
  {
    title: "Contact",
    path: "/contact",
  },
];

const {dark =false} =  Astro.props;
---


<script is:inline>
    function handleScroll() {
        const navbar = document.querySelector("#primary-navbar");
        const dark = navbar?.getAttribute('data-theme')=='dark';
        const logo = navbar?.getElementsByClassName('logo')[0];
        const navLinks = document.getElementsByClassName('nav-link');

        if (window.scrollY > 0) {
            navbar?.classList.add("bg-white");
            navbar?.classList.remove("text-white!");
            if(dark){
                Array.from(navLinks).map((ele)=>{
                    ele.classList.remove("text-white","hover:text-gray-200")
                    ele.classList.add("text-gray-600","hover:text-gray-800")
                })
                if(logo)
                logo.setAttribute('src','/logo.svg');
            }
        } else {
            navbar?.classList.remove("bg-white");
            if(dark){

            Array.from(navLinks).map((ele)=>{
                ele.classList.add("text-white","hover:text-gray-200")
                ele.classList.remove("text-gray-600","hover:text-gray-800")
            })
            if(logo)
            logo.setAttribute('src','/logo-white.svg');
        }
        }
    }
    window.onscroll = () => {
        handleScroll();
    };

    window.removeEventListener("scroll", handleScroll);
</script>

{/*bg-white */}

<nav id="primary-navbar" data-theme={dark?'dark':'light'} class:list={["h-20 w-full fixed top-0 flex justify-center z-50 transition-all",dark?'text-white!':'']}>
<div class="container-main flex justify-start items-center">
        <a href="/" class="mr-12"><Logo dark={dark}/></a>
        <div class="flex gap-8">
            {
                navlinks.map((link) => (
                    <a href={`${link.path}`} class:list={["font-semibold nav-link transition-all text-base  cursor-pointer",dark?"text-white hover:text-gray-200":'text-gray-600 hover:text-gray-800']}>
                        {link.title}
                    </a>
                ))
            }
        </div>
        <div class="ml-auto flex gap-4">
            <button class="button-secondary"> Log in</button>
            <button class="button-primary"> Sign up</button>
        </div>
</div>
</nav>
