---
import PageLayout from '../../layout/page-layout.astro'
---
<PageLayout>
    <section class="py-24 container-main mt-20">
        <header class="w-full mb-16 text-start md:w-3/5">
            <span class=" text-primary font-semibold block mb-3">Published 13 Jan 2024</span>
            <h2 class="xl:text-5xl md:text-4xl text-3xl leading-snug text-gray-900 font-semibold mb-7"> A conversation with Lucy Bond</h2>
            <p class="md:text-xl text-lg text-gray-600 ">Lucy Bond is an interior designer who started her career in New Zealand, working for large architectural firms. We chatted to her about design and starting her own studio.</p>
        </header>
    </section>
    <section>
        <div class="w-full h-96  overflow-x-auto">
           <img class="h-full" src="https://images.pexels.com/photos/584399/living-room-couch-interior-room-584399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">    
        </div>
    </section>
    
</PageLayout>